.app-context-menu {
  position: fixed;
  background-color: var(--color-3);
  font-size: 16px;
  padding: 6px 0;
  border-radius: 0px;
  box-shadow: 0 0 2px #000;
}

.context-menu-item {
  position: relative;
  padding: 6px 15px 6px 40px;
  min-width: 140px;
}

.context-menu-item:hover {
  background-color: var(--color-5);
}

.context-menu-item:first-child {
  border-top: 0;
}

.context-menu-item:last-child {
  border-bottom: 0;
}

.context-menu-item > svg {
  width: 16px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}